:root {
  font-family: sans-serif;
  font-size: 14px;
  
  --primary: black;
  --secondary: white;
}

/* -------- Common -------- */

.flex-spacer {
  flex: 1 1;
}

.center {
  display: flex;
}

.center::before, .center::after  {
  content: "";
  
  flex: 1 1;
}

/* -------- Brand area -------- */

.brand {
  display: flex;
  
  margin: 3rem 0 0 0;
}

.brand__inner {
  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    min-width: 100%;
    
    font-weight: 600;
    text-align: center;
    
    color: var(--primary);
  }
}

.profile-image img {
  width: 96px;
}

.profile-image.profile-image--circle img {
  border-radius: 50%;
}

/* -------- Link area -------- */

.links {
  display: flex;

  .links__inner {
    width: 100%;
    max-width: 700px;
    padding: 0;

    list-style: none;
    
    li {
      margin: 1.5rem 0;
      
      a {
        display: block;
        padding: 1.2rem;
        
        border: 2px solid var(--primary);
        border-radius: 10px;
        
        background-color: var(--primary);
        
        color: var(--secondary);
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        
        transition: all .3s;
      }
      
      a:hover {
        background-color: var(--secondary);
        color: var(--primary);
      }
    }
  }
}